<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Cart A-shop</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<h2>Общая сумма: <b th:text="${cart.summa}">7777</b> </h2>
<table border="1" align="center">
  <tr>
    <td>Название</td>
    <td>Кол-во</td>
    <td>Цена</td>
    <td>Сумма</td>
  </tr>
  <tr th:each="cart : ${cart.cartDetails}">
    <td th:text="${cart.title}"></td>
    <td th:text="${cart.amount}"></td>
    <td th:text="${cart.price}"></td>
    <td th:text="${cart.summa}"></td>
    <td><a th:href="@{/cart}">Убрать</a></td>
  </tr>
</table>
</body>
</html>