<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Products A-shop</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div align="center">
  <table border="1">
      <h2>Продукты</h2>
        <br>
        <tr>
          <td>Навзание</td>
          <td>Цена</td>
          <td>Кол-во</td>
        </tr>
        <div>
          <tr th:each="productEntity : ${products}">
            <td th:text="${productEntity.title}">Testerka</td>
            <td th:text="${productEntity.price}">777.0</td>
            <td th:text="${productEntity.amount}">-1</td>
            <td><a th:href="@{/product/cart/{cart_id}/{product_id}(product_id=${product.id})}">Добавить в корзину</a></td>
            <td sec:authorize="hasAnyAuthority('ADMIN','MANAGER')">
              <a th:href="@{/product/{id}(id=${productEntity.id})}">Удалить</a>
            </td>
          </tr>
        </div>
  </table>
</div>
</body>
</html>